
body{
    margin:0;
}

.header-wrapper{
    background:#eee url("https://i.gifer.com/1Vfn.gif") bottom;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 150px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;

}

.logo{
    max-width: 70px;
    border-radius: 20px;
}

.social-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    width: 30px;
    height: 30px;
    background-color: black;
    margin-left:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    transition: 0.5s;
}
.social-icon{
    width: 20px;
    height: 20px;


}


.inst:hover{
    background-color: orangered;
}

.vk:hover{
    background-color: midnightblue;
}

.mail:hover{
    background-color: royalblue;
}

/*.line{*/
/*    margin-top:30px;*/
/*    height: 1px;*/
/*    width: 100%;*/
/*    background-color: gray;*/
/*}*/

@media screen and (max-width: 900px){
    .header-wrapper{
       display: none;
    }
}
